<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Aheadworks_FaqFree::elements" title="FAQ" translate="title" sortOrder="10">
                        <resource id="Aheadworks_FaqFree::article" title="Articles" translate="title" sortOrder="10" />
                        <resource id="Aheadworks_FaqFree::category" title="Categories" translate="title" sortOrder="20" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Aheadworks_FaqFree::config_faq" title="FAQ by Aheadworks" translate="title" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
