<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Aheadworks\FaqFree\Api\Data\CategorySearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Aheadworks\FaqFree\Api\Data\ArticleSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Aheadworks\FaqFree\Api\Data\CategoryInterface" type="Aheadworks\FaqFree\Model\Category" />
    <preference for="Aheadworks\FaqFree\Api\Data\ArticleInterface" type="Aheadworks\FaqFree\Model\Article" />
    <preference for="Aheadworks\FaqFree\Api\CategoryRepositoryInterface" type="Aheadworks\FaqFree\Model\CategoryRepository" />
    <preference for="Aheadworks\FaqFree\Api\ArticleRepositoryInterface" type="Aheadworks\FaqFree\Model\ArticleRepository" />
    <preference for="Aheadworks\FaqFree\Api\SearchManagementInterface" type="Aheadworks\FaqFree\Model\Search" />
    <preference for="Aheadworks\FaqFree\Model\UrlRewrite\MetadataInterface" type="Aheadworks\FaqFree\Model\UrlRewrite\Metadata" />
    <preference for="Aheadworks\FaqFree\Api\Data\TagInterface" type="Aheadworks\FaqFree\Model\Tag" />
    <preference for="Aheadworks\FaqFree\Api\TagRepositoryInterface" type="Aheadworks\FaqFree\Model\TagRepository" />
    <preference for="Aheadworks\FaqFree\Api\Data\TagSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Aheadworks\FaqFree\Api\CategoryManagementInterface" type="Aheadworks\FaqFree\Model\Category\Manager" />
    <preference for="Aheadworks\FaqFree\Model\SearchQueryFormatter\FormatterInterface" type="Aheadworks\FaqFree\Model\SearchQueryFormatter\Mysql" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="faq_category_listing_data_source" xsi:type="string">Aheadworks\FaqFree\Model\ResourceModel\Category\Grid\Collection</item>
                <item name="faq_article_listing_data_source" xsi:type="string">Aheadworks\FaqFree\Model\ResourceModel\Article\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\FaqFree\Model\ResourceModel\Category\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_faq_category</argument>
            <argument name="eventPrefix" xsi:type="string">faq_category_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">category_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\FaqFree\Model\ResourceModel\Category</argument>
        </arguments>
    </type>
    <type name="Aheadworks\FaqFree\Model\ResourceModel\Article\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_faq_article</argument>
            <argument name="eventPrefix" xsi:type="string">faq_article_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">article_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\FaqFree\Model\ResourceModel\Article</argument>
        </arguments>
    </type>
    <virtualType name="FaqGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Aheadworks\FaqFree\Model\ResourceModel\Article\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">FaqGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="FaqGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Aheadworks\FaqFree\Api\Data\CategoryInterface" xsi:type="string">Aheadworks\FaqFree\Api\CategoryRepositoryInterface</item>
                <item name="Aheadworks\FaqFree\Api\Data\ArticleInterface" xsi:type="string">Aheadworks\FaqFree\Api\ArticleRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Aheadworks\FaqFree\Api\Data\CategoryInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">aw_faq_category</item>
                    <item name="identifierField" xsi:type="string">category_id</item>
                </item>
                <item name="Aheadworks\FaqFree\Api\Data\ArticleInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">aw_faq_article</item>
                    <item name="identifierField" xsi:type="string">article_id</item>
                </item>
                <item name="Aheadworks\FaqFree\Api\Data\TagInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">aw_faq_tag</item>
                    <item name="identifierField" xsi:type="string">id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Aheadworks\FaqFree\Api\Data\ArticleInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="storeReader" xsi:type="string">Aheadworks\FaqFree\Model\ResourceModel\Article\Relation\Store\ReadHandler</item>
                        <item name="tagReader" xsi:type="string">Aheadworks\FaqFree\Model\ResourceModel\Article\Relation\Tag\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="storeCreator" xsi:type="string">Aheadworks\FaqFree\Model\ResourceModel\Article\Relation\Store\SaveHandler</item>
                        <item name="tagCreator" xsi:type="string">Aheadworks\FaqFree\Model\ResourceModel\Article\Relation\Tag\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="storeUpdater" xsi:type="string">Aheadworks\FaqFree\Model\ResourceModel\Article\Relation\Store\SaveHandler</item>
                        <item name="tagUpdater" xsi:type="string">Aheadworks\FaqFree\Model\ResourceModel\Article\Relation\Tag\SaveHandler</item>
                    </item>
                </item>
                <item name="Aheadworks\FaqFree\Api\Data\CategoryInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="storeReader" xsi:type="string">Aheadworks\FaqFree\Model\ResourceModel\Category\Relation\Store\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="storeCreator" xsi:type="string">Aheadworks\FaqFree\Model\ResourceModel\Category\Relation\Store\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="storeUpdater" xsi:type="string">Aheadworks\FaqFree\Model\ResourceModel\Category\Relation\Store\SaveHandler</item>
                    </item>
                </item>
                <item name="Magento\Catalog\Api\Data\ProductInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="aw_faq_articles_reader" xsi:type="string">Aheadworks\FaqFree\Model\ResourceModel\Product\Relation\Articles\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="aw_faq_articles_creator" xsi:type="string">Aheadworks\FaqFree\Model\ResourceModel\Product\Relation\Articles\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="aw_faq_articles_updater" xsi:type="string">Aheadworks\FaqFree\Model\ResourceModel\Product\Relation\Articles\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Aheadworks\FaqFree\Api\Data\CategoryInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
                <item name="Aheadworks\FaqFree\Api\Data\ArticleInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\FaqFree\Model\UrlRewrite\Creator\Pool">
        <arguments>
            <argument name="creators" xsi:type="array">
                <item name="aw-faq-article" xsi:type="object">Aheadworks\FaqFree\Model\UrlRewrite\Creator\Suffix\Article</item>
                <item name="aw-faq-category" xsi:type="object">Aheadworks\FaqFree\Model\UrlRewrite\Creator\Suffix\Category</item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\FaqFree\Model\UrlRewrites\Generator\PermanentRedirect\Entity\Category\Category">
        <arguments>
            <argument name="subordinateEntitiesGenerators" xsi:type="array">
                <item name="category_articles" xsi:type="object">Aheadworks\FaqFree\Model\UrlRewrites\Generator\PermanentRedirect\Entity\Category\CategoryArticles</item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\FaqFree\Model\UrlRewrites\Generator\PermanentRedirect\Config\Composite">
        <arguments>
            <argument name="subordinateEntitiesGenerators" xsi:type="array">
                <item name="faq_route" xsi:type="object">Aheadworks\FaqFree\Model\UrlRewrites\Generator\PermanentRedirect\Config\FaqRoute</item>
                <item name="categories" xsi:type="object">Aheadworks\FaqFree\Model\UrlRewrites\Generator\PermanentRedirect\Config\Categories</item>
                <item name="articles" xsi:type="object">Aheadworks\FaqFree\Model\UrlRewrites\Generator\PermanentRedirect\Config\Articles</item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\FaqFree\Model\Config\Backend\ArticleUrlSuffix">
        <arguments>
            <argument name="validator" xsi:type="object">Aheadworks\FaqFree\Model\UrlCharactersValidator</argument>
        </arguments>
    </type>
    <type name="Aheadworks\FaqFree\Model\Config\Backend\CategoryUrlSuffix">
        <arguments>
            <argument name="validator" xsi:type="object">Aheadworks\FaqFree\Model\UrlCharactersValidator</argument>
        </arguments>
    </type>

    <type name="Aheadworks\FaqFree\Api\SearchManagementInterface">
        <plugin name="aw_faq_search_management_validation_plugin" type="Aheadworks\FaqFree\Plugin\Model\SearchManagementInterfacePlugin" sortOrder="1"/>
    </type>

    <type name="Aheadworks\FaqFree\Model\Validator\SearchQuery\Composite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="queryLength" xsi:type="object">Aheadworks\FaqFree\Model\Validator\SearchQuery\QueryLength</item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\FaqFree\Plugin\Model\SearchManagementInterfacePlugin">
        <arguments>
            <argument name="searchQueryValidator" xsi:type="object">Aheadworks\FaqFree\Model\Validator\SearchQuery\Composite</argument>
        </arguments>
    </type>
    <type name="Aheadworks\FaqFree\ViewModel\Search\SearchResults\CategoriesAndArticles">
        <arguments>
            <argument name="searchQueryValidator" xsi:type="object">Aheadworks\FaqFree\Model\Validator\SearchQuery\Composite</argument>
        </arguments>
    </type>
    <type name="Magento\Sitemap\Model\ItemProvider\Composite">
        <arguments>
            <argument name="itemProviders" xsi:type="array">
                <item name="aw_faq" xsi:type="object">Aheadworks\FaqFree\Model\Sitemap\ItemsProvider</item>
            </argument>
        </arguments>
    </type>
</config>
