<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aheadworks_FaqFree::elements" title="FAQ Free by Aheadworks" module="Aheadworks_FaqFree" parent="Magento_Backend::content" sortOrder="100" resource="Aheadworks_FaqFree::elements" translate="title"/>
        <add id="Aheadworks_FaqFree::article" title="Articles" module="Aheadworks_FaqFree" parent="Aheadworks_FaqFree::elements" sortOrder="10" action="faq/article/" resource="Aheadworks_FaqFree::article" translate="title"/>
        <add id="Aheadworks_FaqFree::category" title="Categories" module="Aheadworks_FaqFree" parent="Aheadworks_FaqFree::elements" sortOrder="20" action="faq/category/" resource="Aheadworks_FaqFree::category" translate="title"/>
    </menu>
</config>
